* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ProximaNovaS";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/ProximaNovaS-Light.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/ProximaNova-Light.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/ProximaNova-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/ProximaNova-Bold.ttf") format("truetype");
}

body{
  font-family: ProximaNova;
  height: 100vh;
}

header {
  width: 100%;
  background-color: #000000;
}

.text_container{
  color: white;
  width: 100%;
  font-size: 0.8rem;
}

.text_container h1{
  font-weight: 200;
}

.text_container h1 span{
  font-weight: 600;
}

.icons_and_button{
  display: flex;
  gap:20px;
  flex-direction: column;
}


main {
  display: flex;
  padding: 30px;
  flex-direction: column;
  background-image: url('./assets/images/background.webp');
  background-size: cover;
  /* Ajusta la imagen para cubrir todo el contenedor */
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  height: 100%;
  width: 100vw;
  gap:40px;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  background-position: 22% center;
}


.social {
  display: flex;
  padding: 30px;
  gap: 50px;
}

.social img{
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social img:hover{
  transform: scale(1.2);
}


.button_container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
}

.button {
  padding: 0.8em 1.8em;
  border: 2px solid #ffffff;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #ffffff;
  text-decoration: none;
}

.button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #ffffff;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.button:hover::before {
  width: 105%;
}

.button:hover {
  color: #000000;
}


.img_logo {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}


@media (min-width: 700px) {
  .button {
    padding: 0.8em 1.8em;
    border: 2px solid #ffffff;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #ffffff;
  }
  
  .button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #ffffff;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }

  .img_logo {
    padding: 13px;
    width: 83%;
    max-width: 29%;
    min-width: 339px;
  }

  .loader {
    font-weight: 500;
    font-size: 50px;
    gap: 15px;
  }

  .words {
    height: 57px;
  }


  .social{
    position: fixed; /* La caja estará fija respecto a la ventana */
    bottom: 20px;    /* A 20px del borde inferior */
    right: 20px;     /* A 20px del borde derecho */
    display: flex;   /* Mantén el diseño flex para los íconos */
    gap: 15px;       /* Ajusta el espacio entre los íconos */
    padding: 10px;   /* Espaciado interno */
    z-index: 1000;   /* Asegúrate de que esté sobre otros elementos */
  }

}



@keyframes spin_4991 {
  0% {
    -webkit-transform: translateY(-0%);
    transform: translateY(-0%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  50% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  75% {
    -webkit-transform: translateY(-0%);
    transform: translateY(-0%);
  }

  100% {
    -webkit-transform: translateY(-0%);
    transform: translateY(-0%);
  }
}