* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

.icons_and_button{
  display: flex;
  gap: 20vh;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/images/background.png');
  background-size: cover;
  /* Ajusta la imagen para cubrir todo el contenedor */
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  height: 100vh;
  width: 100vw;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  background-position: 22% center;
}


.social {
  display: flex;
  padding: 30px;
  gap: 50px;
}

.social img{
  width: 60px;
  transition: transform 0.3s ease;
}

.social img:hover{
  transform: scale(1.2);
}


.button_container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.button {
  margin-top: 50px;
  padding: 0.8em 1.8em;
  border: 2px solid #000000;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #000000;
  text-decoration: none;
}

.button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #000000;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.button:hover::before {
  width: 105%;
}

.button:hover {
  color: #ffffff;
}


.img_logo {
  padding: 50px;
  width: 100%;
  box-sizing: border-box;
}


.card {
  background-color: var(--bg-color);
  border-radius: 1.25rem;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.loader {
  gap: 5px;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
  text-align: end;
  min-width: 97px;
  height: 29px;
}

.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--bg-color) 10%,
      transparent 30%,
      transparent 70%,
      var(--bg-color) 90%);
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  color: #3074f1;
  animation: spin_4991 10s infinite;
}

@media (min-width: 700px) {
  .button {
    padding: 0.8em 1.8em;
    border: 2px solid #000000;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #000000;
  }
  
  .button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #000000;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }

  .img_logo {
    padding: 13px;
    width: 83%;
    max-width: 29%;
  }

  .loader {
    font-weight: 500;
    font-size: 50px;
  }

  .words {
    height: 57px;
  }


  .social{
    position: fixed; /* La caja estará fija respecto a la ventana */
    bottom: 20px;    /* A 20px del borde inferior */
    right: 20px;     /* A 20px del borde derecho */
    display: flex;   /* Mantén el diseño flex para los íconos */
    gap: 15px;       /* Ajusta el espacio entre los íconos */
    padding: 10px;   /* Espaciado interno */
    z-index: 1000;   /* Asegúrate de que esté sobre otros elementos */
  }

}



@keyframes spin_4991 {
  0% {
    -webkit-transform: translateY(-0%);
    transform: translateY(-0%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  50% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  75% {
    -webkit-transform: translateY(-0%);
    transform: translateY(-0%);
  }

  100% {
    -webkit-transform: translateY(-0%);
    transform: translateY(-0%);
  }
}